# No Fedora, antes de rodar o docker:
# sudo setenforce 0
# docker-compose up -d
# Terminal 1
#ssh -R meusite:80:localhost:8080 serveo.net
# Terminal 2
#ssh -R meupma:80:localhost:8081 serveo.net

services:
  php-apache:
    build: .
    container_name: php-apache
    volumes:
      - ./src:/var/www/html
    ports:
      - "8080:80"
    depends_on:
      - db

  db:
    image: mysql:8.0.33
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: meu_db
      MYSQL_USER: usuario
      MYSQL_PASSWORD: senha
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
      PMA_ARBITRARY: 1
    depends_on:
      - db

volumes:
  mysql_data:
